:root{
    --background:#131514;
    --background-dark:#101211;
    --text-white:#FFFFFF;
    --color-red:#EA0000;
    --color-gray:#818181;
    --contact-bg:#131514;
    --contact-input:#1A1A1A;
    // --contact-input:green;
}